# **<font color=blue>P1.** </font>Rename this notebook **Bioinformatics_Module03.ipynb </font><br>**

# **<font color=blue>P2. </font>**```print()```writes to standard output (i.e. prints output to the screen)

####**TASK P2.1:** Print <font color = magenta>hello world</font>

In [ ]:
print("hello world")

hello world

# **<font color=blue>P3. </font>**```=``` is the ASSIGNMENT operator (assigns values to variables)
####**TASK P3.1:** Ask Gemini, "*Give me 3 examples to help practice understanding the assignment operator.*"

In [ ]:
x=5
x

5

In [ ]:
# Example 1: Assigning a string to a variable
name = "Alice"
print(f"My name is: {name}")

My name is: Alice

In [ ]:
# Example 2: Assigning a boolean value to a variable
is_student = True
print(f"Am I a student? {is_student}")

Am I a student? True

In [ ]:
# Example 3: Reassigning a variable with a new value
count = 10
print(f"Initial count: {count}")
count = count + 5
print(f"New count: {count}")

Initial count: 10
New count: 15

# **<font color=blue>P4. </font>** Data types: use ```type()``` to find a variable's "type"
####**TASK P4.1:** Ask Gemini, "*Give me examples of each data type to see how they look as outputs.*"

In [ ]:
type(x)

int

In [ ]:
# Integer
my_integer = 10
print(f"Integer: {my_integer}, Type: {type(my_integer)}")

# Float
my_float = 10.5
print(f"Float: {my_float}, Type: {type(my_float)}")

# String
my_string = "Hello"
print(f"String: {my_string}, Type: {type(my_string)}")

# Boolean
my_boolean = True
print(f"Boolean: {my_boolean}, Type: {type(my_boolean)}")

# List
my_list = [1, 2, 3]
print(f"List: {my_list}, Type: {type(my_list)}")

# Tuple
my_tuple = (1, 2, 3)
print(f"Tuple: {my_tuple}, Type: {type(my_tuple)}")

# Dictionary
my_dictionary = {"a": 1, "b": 2}
print(f"Dictionary: {my_dictionary}, Type: {type(my_dictionary)}")

# Set
my_set = {1, 2, 3}
print(f"Set: {my_set}, Type: {type(my_set)}")

Integer: 10, Type: <class 'int'>
Float: 10.5, Type: <class 'float'>
String: Hello, Type: <class 'str'>
Boolean: True, Type: <class 'bool'>
List: [1, 2, 3], Type: <class 'list'>
Tuple: (1, 2, 3), Type: <class 'tuple'>
Dictionary: {'a': 1, 'b': 2}, Type: <class 'dict'>
Set: {1, 2, 3}, Type: <class 'set'>

# **<font color=blue>P5. </font>** Arithmetic and comparison operators
####**TASK P5.1:**   Complete Rosalind #1

In [ ]:
y=2+3
print(y)
x==y

5

True

In [ ]:
#  Rosalind #1

# 1. Read the dataset file
with open("rosalind_ini2_1157_4_dataset.txt") as f:
    data = f.read().strip()

# 2. Extract the integers a and b
a, b = map(int, data.split())

# 3. Compute the square of the hypotenuse
output = a**2 + b**2

# 4. Display the result
print(output)

1681250

# **<font color=blue>P6. </font>** ```input()``` gets input from the user

TASK P6.1

In [ ]:
name = input("Enter your name: ")
print("Hello, " + name)

Enter your name: Isihack
Hello, Isihack

####**TASK P6.1:** Solve Rosalind #1 again, but get user input for the values of a and b rather than modifying the code.

In [ ]:
a= int(input("enter a value for a:"))
b= int(input("enter a value for b:"))
c=a**2+b**2
print ("The sq of the hypotenuse is",c)

enter a value for a:997
enter a value for b:829
The sq of the hypotenuse is 1681250

# **<font color=blue>P7. </font>** ```list``` type variables (create, replace, append)

####**TASK P7.1**

In [ ]:
# Create a list with 3 elements and then print them

my_list = ["Hello", "World", "Charles Darwin"]
print (my_list)

['Hello', 'World', 'Charles Darwin']

####**TASK P7.2**

In [ ]:
# Substitute the item at index 2 in the list
my_list[2] = "Alfred R. Wallace"
print (my_list)

['Hello', 'World', 'Alfred R. Wallace']

####**TASK P7.3**

In [ ]:
# Append an item to the end of the list
my_list.append("Charles Darwin")
print (my_list)

['Hello', 'World', 'Charles Darwin', 'Charles Darwin']

####**TASK P7.4**. Ask Gemini how to <font color=crimson>```insert```</font> a new item at index 1 in the list

In [ ]:
# On line #2 insert an item at index 1 of my_list
my_list.insert(1, "Python")
print (my_list)

['Hello', 'Python', 'World', 'Charles Darwin', 'Charles Darwin']

# **<font color=blue>P8. </font>** Slicing lists and strings

####**TASK P8.1** Slice and print only the middle two elements from the list created in P7 (i.e. only <font color=magenta>World</font> and <font color=magenta>Alfred R. Wallace</font>).

In [ ]:
print (my_list[2:4])

['World', 'Charles Darwin']

####**TASK P8.2**: Print <font color=magenta>Wallace World</font> from **my_string** by slicing

In [ ]:
my_string = "HelloWorldCharlesDarwinAlfred R. Walace"
print (my_string[0:5],my_string[5:10])

# in the print command below input the correct index values to complete Task P8.2
print(my_string[28:35], my_string[5:10])

Hello World
d R. Wa World

####**TASK P8.3**  **<font color = orange> Complete Rosalind Problem #2 Strings and Lists</font>**

In [ ]:
# Enter code for Rosalind 2 here:
with open("rosalind_ini3_1157_1_dataset.txt") as f:
    lines = f.read().strip().splitlines()

# First line is the string s, second line are the four integers
s = lines[0].strip()
a, b, c, d = map(int, lines[1].split())

# Slice including indices a..b and c..d (inclusive)
slice1 = s[a:b+1]
slice2 = s[c:d+1]

result = f"{slice1} {slice2}"
result

'Pyrrhocorax dubia'